<form action="signup" method="post">
  <div class="">
    First Name:<input type="text" name="f_name">
  </div>
  <div class="">
    Last Name:<input type="text" name="l_name">
    <div class="">
      Email:<input type="text" name="email">
    </div>
    <div class="">
      Password:
      <input type="password" name="password">
    </div>
    <div class="">

      <input type="submit" value="submit">
    </div>
  </form>
