/* colors:
pink color: #FF008D;
blue color: #00AAED;
yellow color: #F9F729;
green color: #00A90D; */

body, html {
  height: 100%;
  font-family: CMSansSerif-Medium;
  letter-spacing: .02vw;
  margin: 0;
  padding: 0
}

.parallax {
  font-size: 22vh;
  height: 100%;
  position: fixed;
  margin-left: 32.5vw;
  margin-top: -45vh;
  z-index: -1;
}

.margin-top {
  margin-top: 12vh;
}

.display-none {
  display: none;
}

.fade-in {
  animation: fade-in 1500ms
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* search bar  */

input[type=search]:focus {
  border: none;
  outline: 0 none;
}

.mar-right {
  margin-right: 10vw !important;
}

.z-index {
  z-index: 1;
}

/* logo */

.logo-container {
  position: fixed;
  transform: rotate(270deg);
  bottom: 5px;
  left: 5px;
  padding: 5px;
  z-index: 1000;
}

.letter {
  font-size: 2vw;
  position: fixed;
  margin-top: 30vh;
  mix-blend-mode: multiply;
  font-weight: bold;
}

.yellow {
  color: rgb(249, 247, 41);
}

.blue {
  color: rgb(0, 170, 237);
}

.pink {
  color: rgb(255, 0, 141);
}

.y-controller {
  animation: y-controller 1100ms infinite
}

.p-controller {
  animation: p-controller 1100ms infinite
}

@keyframes y-controller {
  0% {
    left: -10px
  }
  5% {
    left: -4px
  }
  10% {
    left: -2px
  }
  30% {
    left: 2px
  }
  50% {
    left: 1px
  }
  80% {
    left: 2px
  }
  90% {
    left: -2px
  }
  95% {
    left: -4px
  }
  100% {
    left: -4px
  }
}

@keyframes p-controller {
  0% {
    left: 34px
  }
  5% {
    left: 16px
  }
  10% {
    left: 12px
  }
  30% {
    left: 8px
  }
  50% {
    left: 5px
  }
  80% {
    left: 8px
  }
  90% {
    left: 13px
  }
  95% {
    left: 16px
  }
  100% {
    left: 16px
  }
}

/* carousel */

.position-left {
  position: relative;
  left: 46vw;
  top: 8vh;
}

.hero-text-container {
  height: 20vw;
  width: 40vw;
}

.hero-text {
  font-family: CMSansSerif-Medium;
  font-size: 6vh;
  color: #000000;
  letter-spacing: .03vw;
  position: relative;
  bottom: 35vh;
  left: 28vw;
}

hr {
  position: relative;
  bottom: 24vh;
}

/* main content  */

img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transition: .5s ease;
}

.grid {
  max-width: 100%;
}

.left {
  left: 8vw;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 30%;
  float: left;
}

.grid-dash {
  max-width: 100%;
}

.grid-dash:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item-dash {
  width: 39%;
  float: left;
}

.grid-posts {
  max-width: 100%;
}

.grid-posts:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item-post {
  width: 40.5%;
  float: left;
}

.grid-item--width2 {
  width: 22%;
}

/* .grid-item--width3 {
  width: 37%;
} */

/* posts */

.sm-gray {
  font-size: 16px;
  color: #565656;
  letter-spacing: 1px;
}

.md-black {
  font-size: 22px;
  color: #000000;
  letter-spacing: 1px;
}

.lg-black {
  font-size: 2vw;
  color: #000000;
  letter-spacing: .8px;
}

.xlg-black {
  font-size: 3vw;
  color: #000000;
  letter-spacing: 1.2px;
}

/* overlay effect */

/* .contain-overlay {
  position: relative;
} */

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.overlay:hover:after {
  opacity: .5;
}

.pink:after {
  background-color: rgb(255, 0, 141);
}

.blue:after {
  background-color: rgb(0, 170, 237);
}

.yellow:after {
  background-color: rgb(249, 247, 41);
}

.contain-overlay:hover .image {
  opacity: 0.3;
}

/* edit & delete on hover in dashboard.erb  */

.contain-edit {
  position: relative;
  display: inline-block;
}

.contain-edit:hover .edit {
  display: block;
}

.edit {
  padding-top: 7px;
  padding-right: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.edit a {
  color: #000;
}

.trash {
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.trash a {
  color: #000;
}

.contain-edit:hover .trash {
  display: block;
}

/* footer */

footer {
  background: #F1F1F1;
  border-top: 1px solid #979797;
  height: 8vh;
  width: 100%;
  /* position: absolute;
  bottom: 0.1; */
}

.footer-text {
  font-size: 16px;
  color: #565656;
  letter-spacing: 1.5px;
}

.carousel-indicators-numbers li {
  text-indent: 0;
  height: 30px;
  line-height: 30px;
  color: black;
  transition: all 0.25s ease;
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.0)
}

.carousel-indicators .active {
  border-bottom: 2px solid #999;
  background-color: rgba(0, 0, 0, 0.0) !important
}

/* log in sign up  */

input {
  border: none;
  outline: none;
  background: none;
  display: block;
  width: 35%;
  margin-top: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  text-indent: 0;
}

input[type='submit'] {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.link-btn {
  outline: none;
  background: none;
  display: block;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

input[type='file'] {
  border: none !important;
}

input[type='radio'] {
  width: 50%;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}
